html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

i {
  line-height: inherit !important;
}

.percent-scroll {
  position: relative;
  width: 100%;
}

.menu-item-list {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#nav-bar-container {
  background-color: #f1f1f1;;
  width: 185px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  z-index: 999;
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#mainViewContainer {
  margin-left: 185px;
  width: calc(100% - 185px);
}

@media only screen and (max-width: 1020px) {
  #mainViewContainer {
    margin-left: 0;
    width: 100%;
  }
  #nav-bar-container {
    display: none;
  }
}

@media only screen and (min-width: 1020px) {
  #mobilenav {
    display: none;
  }

  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
}


.navBar {
  padding: 25px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}

.navInside {
  margin: 0 auto;
}

.nav-no-logo .nav-img {
  bottom: 0;
  position: absolute;
  width: 100%;
  opacity: .3;
}

#nav-bar-container .logo img {
  width: 100%;
}

#mobilenav img {
  height: 100%;
}

.navbar-brand {
  padding: 0;
}

.entryHeader {
    height: 100vh;
    background: url(../images/cover-photo-DM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    /*background: #3dcdbc;
    background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
    background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1 );*/

}

.entryHeader .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  }

.headerContainer {
  position: relative;
  z-index: 10;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.t-display {
  display: table;
  width: 100%;
  height: 100%;
}

.tc-display {
  display: table-cell !important;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Raleway", Arial, sans-serif !important;
  font-weight: 400;
  margin: 0 0 20px 0;
}

p {
  font-size: 18px;
  line-height: 1.7;
  color: #898989;
}

.entryHeader h1 {
    font-size: 50px;
    line-height: 1.2 !important;
    margin-bottom: 30px !important;
    color: #fff;
    font-weight: 300;
}

.entryHeader h2 {
    font-size: 40px;
    line-height: 1.2 !important;
    margin-bottom: 30px !important;
    color: #fff;
    font-weight: 100;
}

#nav-bar-container .logo {
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  min-height: 90px;
  padding: 30px 5px 0px;
  text-align: center;
  padding: 20px 15px 0px 0px;
}

.section {
  padding: 0 0 7em 0;
  clear: both;
  position: relative;
}

.sectionContainer {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.centerText {
  text-align: center;
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 13px;
    font-weight: 700 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    letter-spacing: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 20px 30px;
    text-transform: uppercase;
    text-shadow: none !important;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

}

.btn.btn-special {
  background: #5a7997;
  color: #ffffff;
  border: 2px solid #8cc5fd;
  margin-top: 10px;
}

.skill {
  margin-left: 10px;
  margin-right: 10px;
  padding: 2em;
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  bottom: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.skill h3 {
  font-size: 20px;
  color: #000;
  text-align: left;
  position: relative;
  padding-left: 30px;
}

.skill p {
  font-size: 15px;
}

.skill i {
  position: absolute;
  left: 0;
  top: -0.1em;
  color: #5a7997;
  font-size: 22px !important;
}

.section.grey {
  background-color: #f6f6f6;
}
.row.withText {
  margin-bottom: 50px;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-content {
  padding: 20px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.material-icons.projects {
    font-size: 1.5rem;
    float: right;
}

.material-icons.source {
    font-size: 1.1rem;
    float: left;
    margin-right:5px;
}

.sectionTitle {
  font-weight: 200;
  margin-bottom: 30px;
  margin-top: 0;
  padding: 30px 40px;
  text-transform: uppercase;
  background-color: #5a7997;
}

.sectionTitle h3 {
  font-size: 2.92rem;
  line-height: 3.212rem;
  margin: 0;
  color: white;
  text-align: center;
  font-weight: 100;
}

.row .btn {
  text-align: center;
}

.center {
  text-align: center;
}

#experience .sectionContainer {
  max-width: 900px;
}

.triangle img {
  height: 30px;
  width: 100%;
}

.topTri img {
  background-color: white;
}

.card .row.underline {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.workLogo img {
  width: 100%;
}

.card-title {
  font-size: 24px;
}

.card .role {
  font-size: 1.25rem;
  position: absolute;
  right: 38px;
  top: 35px;
}

.role-desc {
  font-size: 20px;
}

li {
  font-size: 18px;
}

@media only screen and (max-width: 1020px) {
  .card .role {
    position: inherit;
  }
  .row.underline {
    text-align: center;
  }
  .workLogo {
    float: none;
    margin: auto;
  }
  .workName {
    float: none;
    margin: auto;
  }
}

a {
  color: #5a7997;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a.hoverline {
  border-bottom: 3px solid transparent !important;
  padding: 3px 3px 0 3px;
  transition: .25s all;
  -moz-transition: .25s all;
  -webkit-transition: .25s all;
  text-transform: uppercase;
  }

a.hoverline:hover {
  border-bottom: 3px solid #5a7997 !important;
  padding: 3px 3px 0 3px;
  transition: .25s all;
  -moz-transition: .25s all;
  -webkit-transition: .25s all;
}

.card.medium {
    height: 400px;
}


.card .card-text {
  padding: 20px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card-text p {
  font-size: 15px;
}

.card-text {
  height: 150px;
}

.card .card-image img {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-image {
  overflow: hidden;
  height: 240px;
}

#nav-bar-container i {
  padding: 0 15px;
  position: relative;
  top: 5px;
}

#nav-bar-container .nav-link {
  box-sizing: content-box;
  color: #444;
  display: block;
  line-height: 100%;
  padding: 10px 0 12px;
}

.nav-link.red-text {
  color: #ff6363 !important;
}

.material-icons.menu {
  font-size: 2rem;
}

#nav-bar-container .active, .menu-item a:hover {
  border-right: 3px solid;
}


#mobilenav a {
  color: #444;
}

#mobilenav .menu-item:hover {
  background-color: #e4e4e4;
}

.right {
  float: right;
}

#skills .row.centerText img {
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.contact-link span {
  position: relative;
  bottom: 10px;
  left: 7px;
}

#contact.section {
  padding-bottom: 300px;
}

[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
    background-color: #5a7997 !important;
}

[class*=" imghvr-"], [class^=imghvr-] {
    background-color: #3d556b !important;
}

#skills .card-content .col-xs-6.col-sm-3.col-md-2 {
  height: 180px;
}
